<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Adivina Adivinanza</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form>
            <label>Nombre</label>
            <input type="text" name="name" id="name"><br>
            <label>Apellido</label>
            <input type="text" name="surname" id="surname"><br>
            <label>Rango de número</label>
            <input type="text" name="range" id="range"><br>
            <label>Número de intentos</label>
            <input type="text" name="tries" id="tries"><br>
            <button type="submit" name="get" id="get">Recoger Datos</button>
        </form>
        
        <script src="" async defer></script>
    </body>
</html>